services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 5s

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 298565
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ecommerce"]
      interval: 5s
      retries: 10
      timeout: 5s
      start_period: 20s

  auth-service:
    build: ./Auth-Service
    container_name: auth-service
    ports:
      - "5000:5000"
      - "8080:8080"
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=298565
      - POSTGRES_DB=ecommerce
      - DATABASE_URL=postgresql://postgres:298565@postgres:5432/ecommerce?sslmode=disable
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 30s

  product-service:
    build: ./Product-Service
    container_name: product-service
    ports:
      - "5001:5001"
      - "8081:8081"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - AUTH_SERVICE_HOST=auth-service
      - AUTH_SERVICE_GRPC_PORT=8080
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=298565
      - POSTGRES_DB=ecommerce
      - DATABASE_URL=postgresql://postgres:298565@postgres:5432/ecommerce?sslmode=disable
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
      auth-service:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/health"]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 30s
